.top {
    padding-top: 56px;
}


.prod {
    margin: 5px 3px 5px 3px;
    padding: 5px !important;
}
.description {
    width: 60%;
    white-space: pre-line;
    word-wrap: break-word;
    float: right;
}
.head {
    font-size: 14px;
    font-weight: 800;
}
.body {
    font-size: 12px;
}
.card-image {
    width: 38%;
    float: left;
}
.over {
    overflow: auto;
}
h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
}
button {
    margin-top: 5px;
}