<div *ngIf="catserv.loaded" class="wrapper">
  <div *ngFor="let product of catserv.products"> 
      <div class="over prod">
          <img *ngIf="product.images && product.images.length != 0" class="card-image" src="{{product.images[0].imageUrl}}" alt="Photo of a Shiba Inu">
        <div class="description">
           <p class="head"> {{product.name}} </p>
        <span class="body">
            {{product.description}}
            </span><br>
            <button mat-raised-button color="accent" (click)=catserv.addtorecycler(product)>{{product.price}} руб.</button>
          </div>
        </div>
        <mat-divider></mat-divider>
  </div>
</div>