@import '~@angular/material/theming';
@include mat-core();
@import '3chetverti.sass';
@include angular-material-theme($chetvert-theme);
$primary: 'green';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.wrapper {
    padding-top: 56px; 
    padding-bottom: 56px; 
}